*{
    margin :0;
    padding :0;
  border-size : border-boxing;
}
body {
  background-image:url("/storage/emulated/0/creativity /images (26).jpeg");
    background-repeat: no-repeat ;
    background-size: cover ;
    height:100vh;
   
}

.logo{
    width:330px;
    height:150px;

   background-image :url("/storage/emulated/0/creativity /images (24).jpeg");
    margin:10px;
    float :left;
    mix-blend-mode: darken;
    }
    h3{
        padding-top:15%;
        text-align: center ;
        color : brown;
        font-family :cursive;
    font-weight: bold;
    }
    /*Navbar*/
.navbr{
    width:100%;
    height:40px;
    padding:35px 0;
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size:24px;
background-color:#ffffffbb;
  
}
.navbr ul li{
    list-style:none;
    display:inline-block;
    margin:0 20px;
    position: relative;
    float :right;
}

.navbr ul li a{
    text-decoration:none;
    color: brown;
    text-transform: uppercase;
    font-weight:bold;
}

 .navbr ul li::after{
     content:'';
     height:3px;
     width:0%;
     background:#030303;
     position: absolute;
     left:0;
     bottom:-10px; 
     transition:0.5s;
 }
.navbr ul li:hover::after{
    width:100%;
}

/*Rotate image*/

.mainbox{
    display : flex ;
    justify-content: center ;
    align-item: center ;
    min-height: 70vh;
    
    
}
.h-1{
    width: 100%;
    background: #0d0d0dbb;
    margin-top :5%;
}
h1{
            font-size:90px;
            font-weight:900;
 background-image:url("/storage/emulated/0/Download/download.jpeg");
            background-Position:center;
            background-clip:text;
            -webkit-background-clip:text;
            color: transparent;
 }
 
 .box{
     position: relative ;
     width:200px;
     height:300px;
     transform-style: preserve-3d;
     animation:animate 20s linear infinite;
    margin-top:30%;
   
    
 }
 @keyframes animate {

 0%{
     transform: perspective(1000px) rotatey(0deg);
 }
   100%{
      
    transform: perspective(1000px) rotatey(360deg);
   }
 }
 .box span{
     position: absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     transform-orignal: center ;
     transform-style: preserve-3d;
     transform: rotatey(calc(var(--i)*45deg)) translatez(400px);
     -webkit-box-reflect: below 0px linear-gradient(transparent, transparent,#0004);
 }
 .box span imag {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     object-fit: cover ;
     
 }



